/* 
    Document   : greendot.css
    Created on : 18.08.2012, 20:03:34
    Author     : pascal91
    Description:
        Purpose of the stylesheet follows.
*/

body {
	background-color: #201a16;
	background-image: url('../images/bg_body.gif');
	font-size:100%;
	padding:0;
	margin:0;
}

#content {
	background-image: url('../images/bg_content.gif');
	clear: both;
	padding: 25px 0 50px 0;
	border-bottom: 1px solid #111;
}

#content h1 {
	display:inline;
	padding:0;
	margin:0;
}

#content h1 a {
	display:block;
	width:250px;
	height:60px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}

#content h2 {
	font-family:'Life Savers', cursive;
	font-size:2em;
	color:#a1915b;
	text-shadow: 2px 2px 2px #000;
}

#content p {
	font-family: Verdana, Arial;
	color:#eee;
	text-shadow: 2px 2px 1px #000;
}

#content p a {
	color: #a6c23e/*#B6DD27*/;
}

.infobox {
	width:45%;
	height:250px;
	background-image: url('../images/bg_infobox.gif');
	padding:0;
	/*box-shadow: inset 1px 1px 5px #000;*/
	border-radius: 5px;
	border:1px solid #110e0c;
	margin:30px 30px 0 0;
	float:left;
}

.icon {
	float:right;
	margin-top:5px;
	margin-right:5px;
}

.infobox-speed div {
	background-image: url('../images/icon_stopwatch.png');
}

.infobox-flexible div {
	background-image: url('../images/icon_flexible.png');
}

.infobox-money div {
	background-image: url('../images/icon_money.png');
}

.infobox-controll div {
	background-image: url('../images/icon_controll.png');
}

.infobox h3 {
	display:block;
	float:left;
	font-family:'Life Savers', cursive;
	background-color:#a6c23e;
	color:#222;
	padding:5px 10px;
	margin:0;
	font-size:1.5em;
	text-shadow: 1px 1px 1px #4e630c;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.infobox h3 b {
	color:#efe8dd;
	padding-right:10px;
}

#content .infobox div {
	background-repeat:no-repeat; 
	background-position:15px 21px; 
	clear:both;
	padding: 1px 0 0 0;
}

#content .infobox p {
	text-shadow: none;
	font-size:0.8em;
	line-height:1.5em;
	color:#ccc;
	margin: 10px 20px 10px 65px;
}

#footer {
	width:75%;
	margin:auto;
	clear:both;
	padding:25px;
	font-family: Verdana,Arial;
}

#footer p {
	font-size:0.6em;
	color:#444;
}