/* 
    Document   : greendot.css
    Created on : 18.08.2012, 20:03:34
    Author     : pascal91
    Description:
        Purpose of the stylesheet follows.
*/

body {
	background-color: #201a16;
	background-image: url('../images/bg_body.gif');
	font-size:100%;
	padding:0;
	margin:0;
}

#header ul#nav {
	float: right;
	list-style: none;
	padding: 0;
	margin: 10px -12px 0  0;
}

#header {
	/*border-bottom:1px solid #444;*/
	border-bottom:1px solid #111;
	padding-bottom:21px;
}

#header ul#nav li {
	display:inline;
}

#header ul#nav li a {
	display: block;
	float:left;
	text-decoration:none;
	color:#fff;
	padding:8px 14px;
	font-family: Verdana,Arial;
	color:#ccc;
	margin-left:5px;
}

#content #header ul#nav li.active a {
	background-image: url('../images/bg_infobox.gif');
	border-radius: 7px;
}

#content #header ul#nav li a:hover {
	background-color: #111;
	background-image: none;
	border-radius: 7px;
	text-shadow: 0 0 3px #aaa;
	color:#fff;
}

#content {
	background-image: url('../images/bg_content.gif');
	clear: both;
	padding: 25px 0 50px 0;
	border-bottom: 1px solid #111;
}

#content-center, #header {
	margin: 0 auto; 
	width: 75%;
	padding-left: 25px;
	padding-right: 25px;
}

#content-center {
	border-top:1px solid #362b23;
}

#content h1 {
	display:inline;
	padding:0;
	margin:0;
}

#content h1 a {
	display:block;
	width:250px;
	height:60px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}

#content h2 {
	font-family:'Life Savers', cursive;
	font-size:2em;
	color:#a1915b;
	text-shadow: 2px 2px 2px #000;
}

#content p {
	font-family: Verdana, Arial;
	color:#eee;
	text-shadow: 2px 2px 1px #000;
}

#content p a {
	color: #a6c23e/*#B6DD27*/;
}

.infobox {
	width:45%;
	height:250px;
	background-image: url('../images/bg_infobox.gif');
	padding:0;
	/*box-shadow: inset 1px 1px 5px #000;*/
	border-radius: 5px;
	border: 1px solid #110e0c;
	margin: 30px 30px 0 0;
	float: left;
}

.icon {
	float:right;
	margin-top:5px;
	margin-right:5px;
}

.infobox-speed div {
	background-image: url('../images/icon_stopwatch.png');
}

.infobox-flexible div {
	background-image: url('../images/icon_flexible.png');
}

.infobox-money div {
	background-image: url('../images/icon_money.png');
}

.infobox-controll div {
	background-image: url('../images/icon_controll.png');
}

.infobox-tplengine div {
	background-image: url('../images/icon_tag.png');
}

.infobox h3 {
	display:block;
	float:left;
	font-family:'Life Savers', cursive;
	background-color:#a6c23e;
	color:#222;
	padding:5px 10px;
	margin:0;
	font-size:1.5em;
	text-shadow: 1px 1px 1px #4e630c;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.infobox h3 b {
	color:#efe8dd;
	padding-right:10px;
}

#content .infobox div {
	background-repeat:no-repeat; 
	background-position:15px 21px; 
	clear:both;
	padding: 5px 0 0 0;
}

#content .infobox p {
	text-shadow: none;
	font-size:0.8em;
	line-height:1.5em;
	color:#ccc;
	margin: 10px 20px 10px 65px;
}

#footer {
	width:75%;
	margin:auto;
	clear:both;
	padding:25px;
	font-family: Verdana,Arial;
}

#footer p {
	font-size:0.6em;
	color:#444;
}

#footer p a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px dotted #444;
}

#footer p a:hover {
	color:#888;
}

form {
	margin-top: 35px;
}

form dl {
	clear:both;
}

form dl dt {
	color:#eee;
	font-size: 1.0em;
	font-family: Verdana, Arial;
	float: left;
	width:175px;
	height: 36px;
	line-height: 36px;
	text-shadow: 2px 2px 1px #000;
}

form dl dd {
	
}

form .text, form textarea {
	background-color:#ebe5d9;
	box-shadow: inset 1px 1px 3px #110e0c;
	border-radius: 5px;
	padding:8px 10px;
	border:none;
	font-family: Arial, Verdana;
	font-size: 1.0em;
	color:#111;
}

form .text {
	width:250px;
}

form textarea {
	width:350px;
	height:150px;
}

form div.submit {
	margin-left:175px;
}

form div.submit input {
	background-color: #a6c23e;
	color:#fff;
	text-shadow: 1px 1px 1px #000;
	border: none;
	border-radius: 5px;
	padding:8px 10px;
	font-weight: bold;
	box-shadow: inset 2px 2px 1px #bdcc84;
	text-transform: uppercase;
	border:1px solid #111;
	cursor: pointer;
}