/* 
	Document: main.css
	Created on: 18.08.2012, 20:03:34
	Author: Pascal Muenst
	Description: Purpose of the stylesheet follows.
*/
/* =webfont
*******************************************************************************/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300');

/* =base
*******************************************************************************/
html {  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

html, button, input, select, textarea {font-family: sans-serif;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #100a04;    
  background: #ddd url('../images/bg-body2.gif') fixed;
}
.lt-ie9 body {font-family: Verdana, arial, sans-serif;}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a:active, a:hover {outline: 0;}

p, h1, h2, h3, h4, h5, h6 {margin: 0 0 1em;}

.wrapper-main {
	margin: 0 auto;
	width: 860px;
}

.header {
	float: left;
	padding: 15px;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 34px;
	text-shadow: 0 1px 0 #f4f4f4;
}

h1 a {
	text-decoration: none;
	color: #777;
}

h1 a:hover {
	color: #555;
}

.nav ul {
	margin: 0;
	padding: 15px;
	list-style: none;
	float: right;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	float: left;
	padding: 0 10px;
	text-decoration: none;
	height: 34px;
	line-height: 34px;
}

.content {
	border-top: 2px solid #d0d0d0;
}

.content h2, .content h3 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.content h2 {
	font-size: 30px;
}

.content h3 {
	color: #cc3b75;
	font-size: 22px;
	margin: 34px 0 7px 0;
}

.content h3 span {
	float: left;
	
	font-weight: 300;
	font-size: 72px;
	height: 72px;
	margin: -5px 0 0 -100px;
	width: 80px;
	padding: 0;
	text-align: right;
	line-height: 1;
	color: #b8b8b8;
}

.content h2, .content h3, .content p {
	text-shadow: 0 1px 0 #f4f4f4;
}

.content {
	margin: 0;
	padding: 15px;
}

.content p {
	color: #555;
	line-height: 1.5;
}

.content p a {
	color: #3ba1cc;
	text-decoration: none;
	/*font-weight: bold;*/
}

.content p a:hover, .content p a:active, .content p a:focus {
	/*color: #47c0f2;*/
	text-shadow: 0 1px 0 #f4f4f4, 0 0 6px #47c0f2;
}

.footer {
	border-top: 2px solid #ccc;
	padding: 25px 15px;
	font-size: 12px;
	color: #949494;
	text-shadow: 0 1px 0 #f4f4f4;
}

.footer p a {
	color: #757575;
	text-decoration: none;
}

.footer p a:hover {
	color: #565656;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
